// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

p.greeting {
  margin: 0;
  font-size: 24px;
  color: var(--greeting-color);
  text-align: var(--greeting-align);
}

#resultTable th {
  text-align: center;
  vertical-align: middle;
}

table.dataTable {
  width: 99%;
}

.top{
  display: flex;
  justify-content: center; /* 中央寄せ */
}

.bottom{
  display: flex;
  justify-content: center; /* 中央寄せ */
}

.dataTables_wrapper .dataTables_paginate {
  float: none !important;
  text-align: center !important;
  padding-top: 0;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 0.6em;
}

.form-check-input {
  margin-top: 0;
}

.information {
  margin-right: 2em;
}

.length_changing {
  padding-top: 0.5em;
  margin-left: 2em;
}